# --- RUST ---
/rust/target
**/*.rs.bk
Cargo.lock

# --- FLUTTER/DART ---
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# --- ANDROID ---
.gradle/
local.properties
*.kwj
*.aar
*.jar
/android/app/src/main/jniLibs/

# --- IOS ---
.generated/
DerivedData/
Pods/